---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Sunecraftian — Home</title>
	</head>
	<body>
		<header>
			<h1>Sunecraftian</h1>
		</header>

		<main>
			<nav>
				<ul>
					<li><a href="/projects/Voxel-Engine">Voxel Engine</a></li>
				</ul>
			</nav>
		</main>
	</body>
</html>
